/* USER VARIABLES SECTION */

:root {
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --listMargin: 0 0 4px;
	--paragrafMargin: 0 0 8px;
	--maxLayout: 1230px;
	--desktopLayout: 960px;
	--minLayout: 320px;
	--padding: 15px;
	--bottomBarHeight: 56px;
	--labelColor: #000;
	--labelColorWithoutDark: #000;
	--labelColorHover: #888;
	--secondaryLabelColor: #888;
	--secondaryLabelColorTransparent: rgba(136,136,136,0);
	--disabledColor: #e5e5e5;
	--backgroundColor: #fff;
	--secondaryBackgroundColor: #f5f5f5;
	--secondaryBackgroundColorWithoutDark: #f5f5f5;
	--galleryBackgroundColor: #f9f9f9;
	--skeletonBackgroundColor: #e7e7e7;
	--badgeForegroundColor: #fff;
	--primaryColor: #2796ff;
	--primaryColorHover: #0060d2;
	--primaryColorNew: #000;
	--badgeForegroundColorNew: #f7f7f7;
	--badgeBackgroundColorNew: #fff;
	--primaryColorNewHover: #888;
	--primaryShadowColor: #90cfff;
	--linkTextColor: #2796ff;
	--linkTextColorHover: #0060d2;
	--secondaryColor: #e9f4ff;
	--secondaryColorHover: #cae5ff;
	--attentionColor: #c20000;
	--actionColor: #f93c00;
	--actionColorHover: #db0d00;
	--successColor: #00a200;
	--additionalColor: #45ce5b;
	--overlayDarkColor: rgba(0, 0, 0, .9);
	--overlayLightColor: rgba(255, 255, 255, .8);
	--overlayLightColor50: rgba(255, 255, 255, .5);
	--overlayBlackColor50: rgba(0, 0, 0, .5);
	--overlayIconsBackground: rgba(0, 0, 0, .2);
	--facebookColor: #385185;
	--twitterColor: #1da1f2;
	--vkontakteColor: #4c6c91;
	--revoColor: #ff671d;
	--gpBlue: #4285f4;
	--mailruBlue: #168de2;
	--badgePremium: #000;
	--headerPremiumCategoriesBackground: linear-gradient(180deg, var(--secondaryBackgroundColor) 0%, rgba(245, 245, 245, 0) 100%);
	--fontSizeAccident: 40px/44px "CoFo Sans Lamoda", sans-serif;
	--fontSizeHeadLine: 24px/32px "CoFo Sans Lamoda", sans-serif;
	--fontSizeHeadLineS: 20px/24px "CoFo Sans Lamoda", sans-serif;
	--fontSizeSubLine: 16px/20px "CoFo Sans Lamoda", sans-serif;
	--fontSize: 13px/16px "CoFo Sans Lamoda", sans-serif;
	--fontSizeCaption: 11px/16px "CoFo Sans Lamoda", sans-serif;
	--fontSizeSmall: 9px/16px "CoFo Sans Lamoda", sans-serif;
	--fontSizeAccidentBold: bold 40px/44px "CoFo Sans Lamoda", sans-serif;
	--fontSizeHeadLineBold: bold 24px/32px "CoFo Sans Lamoda", sans-serif;
	--fontSizeSubLineBold: bold 16px/20px "CoFo Sans Lamoda", sans-serif;
	--fontSizeBold: bold 13px/16px "CoFo Sans Lamoda", sans-serif;
	--fontSizeCaptionBold: bold 11px/16px "CoFo Sans Lamoda", sans-serif;
	--focusBox: 0 0 4px var(--primaryColor);
	--errorBox: 0 0 4px var(--attentionColor);
	--animationDuration: .3s;
	--animationHeartbeatOnce: heartbeat .6s 1;
	--animationHeartbeatInfinite: heartbeat .6s infinite;
	--separatorColor: #e5e5e5;
	--secondaryBorderColor: #000;
	--thinBorderWidth: 1px;
	--thickBorderWidth: 4px;
	--thinBorder: var(--thinBorderWidth) solid var(--separatorColor);
	--thickBorder: var(--thickBorderWidth) solid var(--separatorColor);
	--thinSecondaryBorder: var(--thinBorderWidth) solid var(--secondaryBorderColor);
	--middleSecondaryBorder: 2px solid var(--secondaryBorderColor);
	--thickSecondaryBorder: var(--thickBorderWidth) solid var(--secondaryBorderColor);
	--additionalBlackColor: #000;
	--additionalDarkBlueColor: #3c5064;
	--additionalBlueColor: #4178aa;
	--additionalGoldColor: #a5825f;
	--additionalMintColor: #a5d2a0;
	--additionalPaleBlueColor: #cde6ff;
	--additionalPalePinkColor: #ffd7d2;
	--additionalBlue20FlatColor: #d9e4ee;
	--additionalLightPaleBlueColor: #e9f4ff;
	--additionalPalePink20FlatColor: #fff7f6;
	--additionalPalePink40FlatColor: #ffefed;
	--additionalGold20FlatColor: #ede6df;
	--shadowBox: 0 0 8px rgba(0, 0, 0, .16);
	--shadowColor: transparent;
	--shadowPopupBox: 0 2px 48px rgba(0, 0, 0, .24);
	--shadowPremiumHeader: 0 8px 8px 0 rgba(0, 0, 0, .08);
	--productImageAspectRatio: .694;
	--zIndexSticky: 3;
	--zIndexStickyFilters: 10;
	--zIndexStickySearchBar: 12;
	--zIndexPremium: 32;
	--zIndexPopover: 10000;
	--zIndexBottomBar: 15000;
	--zIndexCookieNotify: 16000;
	--zIndexSidebar: 20000;
	--zIndexModal: 20000;
	--zIndexDesktopSidebar: 20002;
	--cartAbandonerBackgound: #ef3840;
	--cartAbandonerBorder: #eee;
	--cartAbandonerShadow: #ccc;
}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--additionalPalePinkColor); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: var(--minLayout);
	position: relative;
	overflow-x: hidden;
}

/* MAIN STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--maxLayout);
  margin: 0 auto;
  padding: 0 var(--padding);
}

.flex {
  display: flex;
}
.flex--spbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-reset {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  transition: all 0.25s ease;
  cursor: pointer;
}

/* HEADER */

.top-line {
  height: 40px;
  background-color: var(--labelColor);
  font-size: 13px;
  color: var(--backgroundColor);
  line-height: 40px;
}

.top-line__left {
  margin-left: -20px;
}
.top-line__right {
  margin-right: -20px;
}

.top-line__right a {
  display: inline-flex;
  height: 100%;
  padding-right: 20px;
  transition: background-color 0.2s linear;
}
.top-line a:hover {
  background-color: var(--linkTextColor);
}
.top-line__right a img {
  filter: invert(1);
  padding: 0 1em;
}

.geo-location {
  position: relative;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  transition: background-color 0.2s linear;
}
.geo-location:hover {
  background-color: var(--linkTextColor);
}

.geo-location::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 1em;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-right: 1px solid var(--backgroundColor);
  border-bottom: 1px solid var(--backgroundColor);
  transform: rotate(45deg);
} 

.header__middleRow {
  position: relative;
  padding: 3em 0;
}
.main-nav { 
}
.main-nav__list {
}
.main-nav__list-item:not(:last-child) {
  padding-right: 1em;
}
.main-nav__list-item-link {
  padding-bottom: 5px;
  color: var(--secondaryLabelColor);
  transition: color .2s linear;
}
.main-nav__list-item-link:hover{
  color: inherit;
}
.link-active {
  border-bottom: var(--middleSecondaryBorder);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-weight: 700;
}

.user-block >*:not(:first-child) {
  padding-left: 1em;
}
.user-block a {
  display: flex;
  color: var(--secondaryLabelColor);
}
.user-block a:hover {
  color: inherit
}
.user-block a svg path {
  stroke: currentColor;
}
.login {
}
.cart span {
  padding-left: 5px;
}

/* MAIN */

.main {
  padding-bottom: 3em;
}
.main-title {
  padding: 1em 0;
  text-align: center;
  font-size: 36px;
}
.main-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  border-top: var(--thinSecondaryBorder);
}
.main-sections__item {
}
.main-category {
}
.main-category__link {
  position: relative;
  display: block;
  height: 100%;
}

.main-category__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-category__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em 0;
  background-color: rgba(0,0,0,.6);
  z-index: 3;
  text-align: center;
  color: var(--backgroundColor);
  font-size: 1.3em;
  transition: background-color .2s linear;
}
.main-category__title:hover {
    background-color: rgba(0,0,0,0.8);
}

/* FOOTER */

.footer {
  padding-top: 4em;
  padding-bottom: 1em;
  background-color: var(--labelColor);
  color: var(--backgroundColor);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-menu__title {
  padding-bottom: 1em;
}

.footer-menu__list {
  font-size: 13px;
}

.footer-menu__list-item {
  padding-bottom: 5px;
}

.social-links a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-links__vk {
  background-image: url("../images/social-vk.svg");
}
.social-links__yt {
  background-image: url("../images/social-youtube.svg");
}
.social-links__tg {
  background-image: url("../images/social-telegram.svg");
}


/* PRODUCTS LIST */

.category {
}
.category__title {
  font-weight: 700;
  margin-right: auto;
}

.products-count {
  font-size: 0.7em;
  font-weight: 400;
  color: var(--secondaryLabelColor);
}
.select-filter {
  border: 1px solid var(--disabledColor);
  border-radius: 4px;
  line-height: 36px;
  cursor: pointer;
  background-image: url("../images/filter_arrow_white.svg");
  background-repeat: no-repeat;
  background-position: 90%  center;
  color: var(--backgroundColor);
}
.select-filter {
  filter: invert(1);
}
.select-filter__option {
  padding: 0 2em;
}
.search {
  position: relative;
  margin-left: 2em;
 
}
.searh-btn {
  position: absolute;
  width: 36px;
  height: 100%;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--additionalBlackColor);
  background-image: url("../images/search-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.searh-btn:hover {
  background-color: var(--primaryColorNewHover);
}

.search input {
  border: 1px solid var(--disabledColor);
  border-radius: 4px;
  padding: 0 1em;
  line-height: 36px;
}
.products-list {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.products-list__item {

}
.product-card {
  max-width: var(--minLayout)
}
.product-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-card__link img {
  width: 100%;
  height: 100%;
  max-height: 380px;
  object-fit: contain;
}
.product-card__price {
  font-weight: 700;
}
.product-card__title {
}